/* header styling */
header {
    background-color: red;
    color: white;
    text-align: center;
}

/* card styling for each employee */
.card-divider {
    background-color: blue;
    color: white;
    display: block;
}

.card-section {
    background-color: lightgray;
}

/* icon styling */
i {
    margin-right: 10px;
}

/* bullet point styling */
li {
    border: solid lightgray;
    padding: 10px;
    background-color: white;
}